// Place all the styles related to the PracticeData controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.legend-container {
  width: 500px;
  padding-left: 25px;
}

li.key-item {
  display: inline-block;
  margin-right: 10px;
  padding-left: 5px;
  width: 200px;
  color: lightgrey;
  border-left: 10px solid;
  border-left-color: lightgrey;
  opacity: 0.75;
  margin: 1px;
}

